--find-links http://c153-86.localcloud:8080/packages
--no-index

# Sphinx
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.1
Sphinx==1.2.3
docutils==0.12

PyYAML==3.11
argparse==1.2.1
dateutils==0.6.6
python-dateutil==2.2
pytz==2014.9
six==1.8.0
wsgiref==0.1.2
drett-client==0.1.0
boto==2.34.0
pika==0.9.14
redis==2.10.3
requests==2.5.1
pymongo==2.7.2
-e ../../util
-e ../../info-broker
-e ../../cloud-handler
-e ../../enactor
-e ../../compiler
-e ../../infrastructure-processor
